/* common style */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.max-width {
  max-width: 1414px;
  margin: auto;
}
.btn1 {
  background: #dd0000;
  padding: 12px 25px;
  color: white;
  font-size: 1.25rem;
  border-radius: 5px;
  border: none;
}
img {
  max-width: 100%;
}

/* banner */
.banner-container {
  display: flex;
  background: #161616;
  color: #ffffff;
  align-items: center;
  border-radius: 30px;
  margin: 80px auto;
}
.banner-1 {
  margin: 0 125px;
  flex: 1;
}
.banner-2 {
  flex: 1;
}

.banner-2 img {
  display: block;
}
.banner-container h2 {
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 70px;
}
.banner-container p {
  padding: 20px 0px;
  max-width: 60%;
}
/* main */
.live-container {
  display: flex;
  gap: 15px;
  margin-bottom: 150px;
}
.left {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 30px;
  border-radius: 10px;
  height: fit-content;
}
.left .btn {
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 10px;
}
.left .btn1:nth-child(1),
.left .btn1:nth-child(2) {
  background-color: white;
  color: black;
}
.card-details {
  padding: 20px 20px;
}
.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  flex: 1;
}
.right h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 15px 0;
}
.right .btn {
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 5px;
}
.right img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 180px;
}
.card-icon {
  display: flex;
  gap: 10px;
}
.card {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

/* footer */
footer {
  text-align: center;
  background: #161616;
  color: #ffffff;
}
footer h3 {
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 100px;
}
.contact-container {
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
}
.contact-container a {
  text-decoration: none;
  margin: 50px 24px;
  color: #ffffff;
  font-weight: 500;
}
/* Media Query */
/* for table */
@media screen and (max-width: 992px) and (min-width: 776) {
  .live-container {
    flex-direction: column;
  }
  .left {
    flex-direction: row;
    background: transparent;
    padding: 0;
  }
  .live-container .left .btn1 {
    flex: 1;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
  }
  .right {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-1 {
    margin: 5px 20px;
  }
}
/* for mobile */
@media screen and (max-width: 776px) {
  .banner-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .banner-container p {
    max-width: none;
  }
  .live-container {
    flex-direction: column;
  }
  .right {
    margin: 30px auto;
    grid-template-columns: repeat(1, 1fr);
  }
}
