/* common style */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.max-width {
  max-width: 1414px;
  margin: auto;
}
.btn1 {
  background: #dd0000;
  padding: 12px 25px;
  color: white;
  font-size: 1.25rem;
  border-radius: 5px;
  border: none;
}

/* banner */
.banner-container {
  display: flex;
  background: #161616;
  color: #ffffff;
  align-items: center;
  border-radius: 30px;
  margin: 80px auto;
}
.banner-1 {
  margin: 0 125px;
}
.banner-2 img {
  display: block;
}
.banner-container h2 {
  font-size: 4.375rem;
  font-weight: 700;
  line-height: 70px;
}
.banner-container p {
  padding: 20px 0px;
  max-width: 60%;
}
/* main */
.live-container {
  display: flex;
  gap: 15px;
}
.left {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 30px;
  border-radius: 10px;
  height: fit-content;
}
.left .btn {
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 10px;
}
.left .btn1:nth-child(1),
.left .btn1:nth-child(2) {
  background-color: white;
  color: black;
}
.card-details {
  padding: 20px 20px;
}
.right h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 15px 0;
}
.right .btn {
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 5px;
}
.right img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
